RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} api\/booking\/(.*)$
RewriteRule (api\/booking)\/(.*)$ /api/booking?uri=$2

# Убираем из пути обращения к PHP-файлу расширение .php
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $0.php